/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2020, 1:22:41 PM
    Author     : nibu
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2020, 12:35:41 PM
    Author     : nibu
*/

.form-container {
    position: absolute;
    top: 20vh;
 border: #fff;
 padding: 30px;
 border-radius: 10px;
 box-shadow: 0px 0px 10px 0px #262626;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all ease .65s;
  z-index: 100;
  width: 100%;
}

span {
  font-size: 24px;
  margin-left: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 15px;
}
/*@media only screen and(max-width : 767px){
    .navbar-nav .ml-auto{
        background: #fff;
    }
}*/
btn-primary{
    background: cyan;
    padding: 10px 24px;
    text-align: center;
     font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
nav.scroll {
  padding: 10px;
  background: black;
  position: fixed;
}

nav.scroll span {
  font-size: 18px;
  color: white;
}

nav.scroll li {
  color: white;
}
